/* DIERTA */
body{
    margin:0px;
    padding:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 207, 136, 0.5);
}

.nav-bar{
    background-color: rgba(255, 207, 136, 1);
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 1px 2px 10px black;
    
}

.nav-logo img{
    width: 40px;
    height: 40px; 
    padding: 20px 50px;
}

.nav-logo img:hover{
    animation: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.nav-search-bar {
    padding: 27px 20px;
}

.nav-search-bar input{
    border: none;
    border-radius: 6px;
    height: 26px;
    width: 1150px ;
    color: black;
    padding-right: 270px;
}

.nav-cart img{
    width: 30px;
    height: 30px;
    padding: 25px 20px;
}

.nav-cart img:hover{
    animation: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.nav-profile-btn img{
    width: 30px;
    height: 30px;
    padding: 25px 0px;
    padding-left: 20px;
}

.nav-profile-btn img:hover{
    animation: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.nav-sign-in-btn a{
    text-decoration: none;
    padding: 0px 30px;
    font-size: 20px;
    display: block;
    height:80px;
    line-height: 80px;
    color: black;
}

.nav-sign-in-btn a:hover{
    animation: 0.5s;
    color: rgba(0,0,0,0.5);
}

.bit-promo{
    font-size: 50px;
    padding: 50px 90px;
    margin-bottom: 100px;
    
}

.bit-promo span{
    color: rgb(255, 153, 0);
}

.bit-promo h3{
    font-size: 25px;
    padding-bottom: 50px;
    
}

.bit-promo-txt {
    float: left;
    display: block;
    text-shadow: 4px 3px 10px grey;
}

.bit-promo-img img {
    height: 450px;
    width: 450px;
    padding-left: 150px;
}

.containers {
    width: 1550px;
    margin: 80px auto;
}

.banner-img  {
    animation: slider  16s infinite linear;
    background-image: url('banner-1.png');
    background-size: 1500px 100%;
    height: 600px;
    width: 1500px;
    border-radius: 50px;
    margin: 0px auto;
    box-shadow: 3px 2px 16px black;
}

@keyframes slider{
    0%{
        background-image: url('banner-1.png');
    }
    35%{
        background-image: url('banner-2.png');
    }
    75%{
        background-image: url('banner-3.png');
    }
}

.categories h1{
    padding-top: 150px;
    padding-bottom: 10px;
}

.categories span{
    color: rgb(255, 153, 0);
}
.categories .category-box{
    display: block;
    margin-left: 110px; 
}

.categories .category{
    background-color: rgba(255, 207, 136, 1);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    float: left;
    display: block;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 150px;
}

.categories .category:hover{
    cursor: pointer;
    opacity: 0.7;
}

.category img{
    height:50px;
    width: 50px;
    padding:50px 50px;
}

.our-products .section-title{
    text-align: left;
}

/* MARCEL EDITED BY DIERTA */
.our-products {
  width: 1550px;
  
}

.recommended h1 {
  padding-top: 150px;
  margin-top: 150px;
}

.our-products > h1 {
  text-align: center;
}

.container-product {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  /* justify-content: center; */
  width: 88%;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  background-color: #ffcf88;
  border-radius: 10px;
  padding: 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.card-image > img {
  height: 200px;
  width: 200px;
  border-radius: 999px;
  object-fit: cover;
  margin: 5px 0;
}

.card-description {
  padding: 20px;
}

.buy > img {
  width: 30px;
  height: 30px;
  padding: 25px 20px;
  margin-left: 15px;
}

.buy > img:hover {
  animation: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.save > img {
  width: 30px;
  height: 30px;
  padding: 25px 0px;
  padding-left: 20px;
}

.save > img:hover {
  animation: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.card-content {
  background-color: #ffcf88;
  display: flex;
  height: 80px;
  width: 100%;
  box-shadow: 1px 2px 10px black;
}

.info > img {
  width: 30px;
  height: 30px;
  margin-left: 25px;
  padding: 25px 20px;
}

.info > img:hover {
  animation: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.chat > img {
  width: 30px;
  height: 30px;
  padding: 25px 20px;
}

.chat > img:hover {
  animation: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.btn-list > a {
  font-style: none;
  border-radius: 15px;
  padding: 20px;
  color: white;
  background-color: black;
}

.btn-list{
    display: block;
    padding: 100px;
    padding-left: 685px;
}

.btn-list:active{
    animation: 0.5s;
   opacity: 0.5;
}

.container-product{
  padding-left: 200px;
}

.section-title span{
    color: rgb(255, 153, 0);
}

/* DIERTA */

footer{
    height: 500px;
    width: 100%;
    background-image: linear-gradient( rgb(255,230,195,255), rgb(255, 153, 0));
}

footer .texts{
    float: left;
    padding-right: 50px;
    margin-top: 200px;
    margin-left: 155px;
}

footer .texts img{
    height:60px;
    padding-left: 0px;
}

footer .texts .icons img{
    height:50px;
    padding-left: 0px;
}

footer .texts h1:hover{
    opacity:0.5;
    cursor: pointer;
    animation: 0.5s;
}

footer  #nohover h1:hover{
    opacity:1;
    cursor: default;
}

footer .texts h3:hover{
    opacity:0.5;
    cursor: pointer;
    animation: 0.5s;
}

footer .texts img:hover{
    opacity:0.5;
    cursor: pointer;
    animation: 0.5s;
}
